body {
  font-family: 'Ubuntu', 'optima';
}

p {
  font-family: 'Ubuntu', 'rockwell';
  color: #1D1070;
  background-color: #C16CE9;
  text-align: left;
}

h1 {
  font-family: 'Ubuntu', 'rockwell';
  color: #1D1070;
  background-color: #C16CE9;
  text-align: left;
}

.navbar-brand {
  font-family: 'Ubuntu', 'optima';
}

.nav-item {
  font-family: 'Ubuntu', 'optima';
}

#title {
  font-family: 'Ubuntu', 'Rockwell';
  
}

#response {
  font-family: 'Ubuntu', 'optima';
  color: #1D1070;
  background-color: #C16CE9;
  text-align: center;
}
/*.second-paragraph {
  color: #b58900;
}
#third-paragraph {
  color: #d33682;
}
p.lead {
  color: #FFFFFF;
  background-color: #000000;
}
